<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js'></script>
    <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css'></script>
    <link rel="stylesheet" href="../styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task24: CV/Resume</title>
</head>
<body>
    <h1>CV/Resume</h1>
    <div id='container'>
        <table id='infoTable'>
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                td#no-Border= firstname
                td= lastname
            </tr>
        </table>
    </div>

</body>
</html>