<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js'></script>
    <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css'></script>
    <link rel="stylesheet" href="../styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task24: CV/Resume</title>
</head>
<body>
    h1=firstname + ' ' + lastname
    <div id='person'>
        img(src=imgURL)
        h2=
        <div id='personInfo'>
            <span class='setPadding'>
                <p>test1</p>
            </span>
            <span class='setPadding'>
                <p>test2</p>
            </span>
            <span class='setPadding'>
                <p>test3</p>
            </span>
            <span class='setPadding'>
                <p>test4</p>
            </span>
        </div>
    </div>

    <div id='divBody'>
        <span id='leftSpan'>
            <div id='contact'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar egestas enim ut luctus. Fusce non elit sed nisi euismod rutrum suscipit vel magna. </p>
            </div>
            <div id='education'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar egestas enim ut luctus. Fusce non elit sed nisi euismod rutrum suscipit vel magna. </p>
            </div>
            <div id='social'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar egestas enim ut luctus. Fusce non elit sed nisi euismod rutrum suscipit vel magna. </p>
            </div>
        </span>
        <span id='rightSpan'>
            <div id='content'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar egestas enim ut luctus. Fusce non elit sed nisi euismod rutrum suscipit vel magna. Fusce non elit sed nisi euismod rutrum suscipit vel magna. Fusce non elit sed nisi euismod rutrum suscipit vel magna.</p>
            </div>
        </span>
    </div>

</body>
</html>