<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js'></script>
    <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css'></script>
    <link rel="stylesheet" href="../styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task24: CV/Resume</title>
</head>
<body>
    h1=firstname + ' ' + lastname
    <hr>
    <div id='personInfo'>
        <img src=imgUrl>
    </div>
    <div id='experiences'>
        
        
        <hr width="1" size="1000px" color=black>

    </div>

</body>
</html>