<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js'></script>
    <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css'></script>
    <link rel="stylesheet" href="../styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task24: CV/Resume</title>
</head>
<body>
    h1=firstname + ' ' + lastname
    <div id='personInfo'>
        img(src=imgURL)
    </div>

    <div id='divBody'>
        <div id='leftDiv'>
            <div id='contact'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar egestas enim ut luctus. Fusce non elit sed nisi euismod rutrum suscipit vel magna. </p>
            </div>
            <div id='education'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar egestas enim ut luctus. Fusce non elit sed nisi euismod rutrum suscipit vel magna. </p>
            </div>
            <div id='social'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar egestas enim ut luctus. Fusce non elit sed nisi euismod rutrum suscipit vel magna. </p>
            </div>
        </div>
        <div id='rightDiv'>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar egestas enim ut luctus. Fusce non elit sed nisi euismod rutrum suscipit vel magna. Proin ut erat eu sapien accumsan vehicula. Morbi commodo neque nec nulla accumsan commodo. Quisque est purus, tempus fermentum dui nec, fermentum molestie diam. Vestibulum cursus nec massa id ultrices. Morbi gravida ornare libero, ac blandit est ullamcorper id. Nam sed leo mauris. Vivamus et blandit orci. In id neque sed est rhoncus facilisis ac non ex. Maecenas vel sem nibh. Curabitur odio ante, elementum at fermentum a, tempor eu erat. Cras mollis, justo a blandit porta, nulla risus aliquet dui, sed maximus sem velit in nunc.Curabitur pretium luctus magna a placerat. Ut pharetra, sapien non facilisis maximus, ex turpis placerat eros, et pellentesque orci justo eu orci. Proin vel consequat massa. Donec consequat eros vel dolor bibendum gravida. Morbi aliquam, lorem eu lacinia lacinia, purus tortor facilisis mauris, ac cursus lectus justo eu ipsum. Cras porttitor, velit non mollis varius, leo leo cursus sem, eget tincidunt lectus orci euismod tortor. Maecenas nec ex in diam lacinia pharetra. Mauris in laoreet dui, at varius dui. Praesent id neque vulputate, consectetur lacus a, blandit nunc. Maecenas fermentum nibh vitae ipsum dignissim, non dignissim quam auctor. Curabitur lobortis turpis volutpat, euismod dui imperdiet, dictum mi.</p>
        </div>
    </div>

</body>
</html>