html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

hr {
    height: 1px;
    border: none;
    background-color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    color: white;
    background: black;
}

.fa-linkedin {
    color: white;
    background: #007bb5;
}

::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.stuck {
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 180px;
    overflow-y: scroll;
}

#divBody {
    display: flex;
}

#leftSpan {
    width: 200px;
    padding-left: 10px;
    text-align: center;
}

#leftSpan h4 {
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 5px;
}

#leftSpan p {
    font-size: 15px;
    margin: 10px;
}

#personInfo{

}

#personInfo h5 {
    font-size: 15px;
    margin: 10px;
}

#contact{
    background-color: beige;
}

#contact h4 {
    font-size: 17px;
}

#leftSpan h4 {
    padding: 5px;
}

#education {

    background-color: lavender;
}

#social a {
    display: inline-block;
    
}

#social {
    background-color: lightpink;
}

#rightSpan {
    position: relative;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    width: 60%;
    left: 33%;
}

#content {
    
}

img {
    margin-top: 20px;
    object-fit: cover;
    width: 150px;
    height: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }