html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
}

#divBody {
    display: flex;
    padding: 20px;
    text-align: center;
}

#leftSpan {
    width: 250px;
}

#contact {
    background-color: #00000044;
}

#education {
    background-color: #00000066;
}

#social {
    background-color: #00000088;
}

#rightSpan {
    padding-left: 20px;
    width: 100%;
    background-color: #000000BB;
}

img {
    width: 200;
    height: 200;
    display: block;
    margin-right: auto;
    margin-left: auto;
}