html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.stuck {
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 180px;
    overflow-y: scroll;
}

.sidenav div{
    color: black;
}

.sidenav h4 {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    color: white;
    background: black;
}

.fa-linkedin {
    color: white;
    background: #007bb5;
}

#personInfo h5 {
    font-size: 15px;
    margin: 10px;
}

#title {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.blackText {
    color: black;
}

.blackText a {
    color: black;
}

#personInfo {
    background-color: lightblue;
}

#contact{
    background-color: beige;
}

#education {
    background-color: lavender;
}

#social {
    background-color: lightpink;
}

#social a {
    display: flex;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    margin-top: 20px;
    object-fit: cover;
    width: 150px;
    height: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}