html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

aside div {
    background-color: #FFF9C422;
}

.mdc-drawer__header {
    background-color: #FFFFFF;
}

.mdc-drawer__content{
    background-color:#FFE4C4;
}

.mdc-drawer__subtitle {
    padding-bottom: 15px;
}

.main-content {
    position: relative;
}

#app-bar {
    position: relative;
    background-color:#FFE4C4;
    color:black;
}

#content {
    position: relative;
    height: 90vh;
    overflow-y: scroll;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    padding-top: 20px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

footer {
    text-align: center;
    padding-bottom: 20px;
}